<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>result</title>
</head>
<body bgcolor="#a3cfb4">
    <center>
    <h1>  PREDICTION :  </h1>
    {% if data == 0 %}
        <h1>Iris-setosa(ヒオウギアヤメ)</h1>
        <img src='static/setosa.jpg' width="400">
    {% elif data == 1 %}
        <h1>Iris-versicolor(ブルーフラッグ)</h1>
        <img src='static/versicolor.jpg' width="400">
    {% else %}
        <h1>Iris-virginica(バージニカ)</h1>
        <img src='static/virginica.jpg' width="400">
    {% endif %}
    <br><br>
        <p style="margin-bottom:30px;"><a href='/'>go back to home page</a></p>

    <footer><small>2021 Copyright © Tomoyuki Yoshikawa All Right Reserved.</small></footer>
    </center>
</body>

</html>






